---
layout: default
title: Search GitLab
suppress_header: true
extra_css:
  - search.css
  - cta-promo.css
extra_js:
  - search-page.js
---

.animation-icon-container
  - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
    .animation-icon
      = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
.gitlab-content-container
  .search-container
    %h3 👋 Hello, how can we help?
    .search-box-large.js-search-box
      %i.fas.fa-search.search-icon
      %input.js-search{ type: "text", placeholder: "What are you looking for?", autofocus: "" }
  .relevant-links
    %h5
      Popular searches: 
    .relevant-links-container.flex-wrap-md
      .links
        = link_to "Licensing and subscription FAQ", "/pricing/licensing-faq/"
        = link_to "Read about the latest release", "/releases/"
      .links
        %a{ href: "https://gitlab.com/explore" } Explore open source projects
        = link_to "Contribute to GitLab", "/community/"
      .links
        = link_to "Read about the latest release", "/releases/"
        = link_to "Learn about the product", "/product/"

  = partial "includes/ctas/cta-promo"
